@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

/* ============================================ CONTENT ==============================*/
.galeri p {
   font-size: 70px;
   text-align: center;
}