/* --- Global --- */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto-Light;
}

.header {
  margin: 0;
}
.topnav {
  position: sticky;
  margin: 0;
  top: 0;
  margin-top: -10px;
  background-color: #0077b6;
  height: 65px;
  box-shadow: 0px 2px 10px 0px black;
  font-family: Roboto-Medium;
  line-height: 1.2;
  z-index: 9999;
}

.startbtn {
  background-color: #0077b6;
  border: none;
  background-color: none;
}
.startbtn img:hover {
  filter: opacity(0.5);
  
}
.startbtn img {
  height: 30px;
}
.startlogoDD {
  position: relative;
  float: left;
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 17px;
}
.start-content {
  display: none;
  position: absolute;
  background-color: #0400ffd5;
  margin-top: 15px;
  min-width: 220px;
  overflow: auto;
  box-shadow: 0px 5px 10px 0px black;
  z-index: 1;
  font-family: Roboto-Regular;
}
.start-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.start-content.show {
  display: block;
}
.startlogoDD .start-content a:hover {
  background-color: #0300a3c0;
}

.navLogo{
	float: left;
}
.navLogo #bkpsdmdLogo {
	height: 45px;
	padding-top: 17px;
	padding-left: 15px;
	padding-right: 20px;
}

.navRight {
  float: right;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #0077b6;
	
}
.navRight a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px 20px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: white;
  color: black;
}
.topnav .icon {
	display: none;
}
.dropdown {
  float: left;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 24px 20px 20px 20px;
  background-color: inherit;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}
.navRight a,
.dropdown .dropbtn {
  padding: 22px 18px 20px 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffffec;
  min-width: 160px;
  box-shadow: 0px 5px 10px 0px black;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-decoration: none;
  font-family: Roboto-Light;
  display: block;
  text-align: left;
  font-size: 15px; 
  min-width: 160px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1000px) {
    .dropdown:hover > .dropdown-content {
        display: block;
        transition: all 0.5s ease-in-out;
      }
}
.navRight a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(235, 235, 235);
  color: #0077b6;
}
.dropdown .dropdown-content a:hover {
  background-color: #eeeeee;
  color: #0077b6;
}

@media screen and (max-width: 1000px) {
  .navLogo #bkpsdmdLogo {
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 0;
    position: relative;
    z-index: -1;
  }
  .navRight a:not(:empty), .dropdown .dropbtn { 
	  display: none;
	}
  .navRight {
  float: right;
  }
  .navRight a{
    width: 100%;
  }
  .topnav a.icon {
  width: 50px;
	float: right;
  display: inline;
  padding: 21px 21px;
  }  
}

@media screen and (max-width: 1200px) {
  .topnav.responsive {
	  position: sticky;
	  float: left;
	  width: 100%;
    margin-top: -10px;
	}
  .topnav.responsive .icon {
    position: absolute;
    float: right;
    right: 0;
    top:0;
  }
	.topnav.responsive .navRight {
		width: 100%;
    margin-top: -50px;
    margin-top: 18px;
	}
  .topnav.responsive a {
    display: flex;
    text-align: left;
  }
  .topnav.responsive .dropdown {
	  float: none;
	}
  .topnav.responsive .dropdown-content {
	  position: relative;
    overflow: scroll;
	}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .dropdown-content.show {
    display: block;
  }
}

/* =================================== BACK TO TOP BUTTON =========================================*/
/* Go to Top Button */
.gotoTop {
  display: none; /* awalnya disembunyikan */
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  background-color: #0077b6;
  border-radius: 50%;
  padding: 10px;
  transition: opacity 0.3s;
}
.gotoTop img {
  width: 40px;
  height: 40px;
}

/* Floating WhatsApp Call Button */
.floating-wa h4 {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 100px;
  background-color: #00ff5e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: Roboto-Light;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
}
.floating-wa:hover h4 {
  display: block;
}

.wa-button {
  position: fixed;
  bottom: 10px;
  right: 25px;
  background-color: #00ff5e;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wa-button img {
  width: 50px;
}

.wa-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 7px rgba(0,0,0,0.4);
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.wa-button {
  animation: pulse 2s infinite;
}

/* =================================== FOOTER =========================================*/
.footer{
  margin: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  z-index: 999;
	color: white;
	font-family: Roboto-Regular;
	font-size: 15px;
}
.first{
  background-color: #0096c7;
  padding: 20px;
  width: 30%;
}
.second {
  width: 40%;
	text-align: left;
	background-color: #00b4d8;
	color: white;
  padding: 20px;
}
.third {
  width: 30%;
  background-color: #0096c7;
  padding: 20px;
}
.fourth {
  width: 30%;
	background-color: #00b4d8;
  padding: 20px;
}
.fourth p {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.first img, .fourth img {
  margin: auto;
  display: block;
  width: 70%;
}
.second img{
	width: 40px;
	margin-right: 10px;
}
.third img {
	width: 40px;
	margin-left: 5px;
	padding-bottom: 20px;
}

.copyright{
  width: 100%;
  background-color: #0077b6;
  color:#ffffff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
  .footer{
    flex-direction: column;
  }
  .first, .second, .third, .fourth{
    width: 100%;
  }

}

