body {
	margin: 0;
  font-family: Roboto-Regular;
}
.header {
  margin: 0;
}
/*================ INFO GRAFIS ==========================*/
.infoGrafis {
	background-color: white;
	padding-top: 30px;
}
.infoGrafis h2 {
	margin-top: 0px;
	text-align: center;
	font-family: Bahnschrift;
	font-size: 30px;
	color: #ffffff;
  background-color: #003858ab;
  width: 100%;
  padding: 15px;
}
.slideshow-container {  
	margin: auto;
	justify-content: center;
  max-width: 700px;
	width: 90%;
}
.slides {
  display: none;
  transition: transform 0.6s ease;
  /*box-shadow: 0px 0px 10px 0px black; */
}
.slides img {
  width: 100%;
  display: flex; 
}
/* Caption text */
.caption {
  color: #f2f2f2;
	font-family: Roboto-Light;
  font-size: 18px;
  padding: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.5);
}
/* Dots */
.dots {
  text-align: center;
  margin: 10px 0;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active, .dot:hover {
  background: #717171;
}
/* Thumbnail images */
.thumbnail-row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 10px;
  margin-top: 10px;
}
.thumbnail-row img {
  width: 80px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
  .thumbnail-row {
    width: 100%;
  }
  .thumbnail-row img {
    width: 70px;
    height: 35px;
  }
}
/* ============================================ SAMBUTAN KABAN ==============================*/
.sambutan-wrapper {
  width: 95%;
  margin: 32px auto;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.13);
  font-family: Roboto-Regular;
  color: #0b2545;
  line-height: 1.55;
}
header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-items: center;
  background-color: rgb(243, 243, 243);
}
#sambutan-kaban img {
  width: 100px;
  height: 100px;
  padding: 5px;
}
#sambutan-kaban h2 {
  margin: 0;
  font-size: 35px;
  color: #023059;
  font-weight: 700;
}
#sambutan-kaban .subheading {
  margin-top: 4px;
  font-size: 20px;
  color: #486e8f;
}
#sambutan-kaban p {
  margin-bottom: 12px;
  font-size: 20px;
}
#sambutan-kaban .ttd p {
  font-size: 20px;
  line-height: 0.6;
  color: #023059;
}

@media (max-width: 800px) {
  .sambutan-wrapper {
    padding: 18px;
    margin: 18px;
  }
  #sambutan-kaban h2 {
    font-size: 30px;
  }
}

/* =================================== SHORTCUT =========================================*/
.shortCut {
  width: 95%;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 20px 0px 100px 0px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.13);
}
.shortCut h1 {
  color: #9c0d71;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-family: Bahnschrift;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:center;
}
.flex-item-main {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center; /* center text inside */
  margin: 40px 20px;
  padding: 0px 10px;
  background-color: #f3f3f3;
  color: #023e8a;
  font-size: 20px;
  border-radius: 15px;
  width: 270px;
  height: 220px;
  box-shadow: 0px 0px 15px grey;
}
.flex-item-main img{
  width: 100px;
}
.flex-item-main:hover {
  background-color:  rgb(247, 247, 247);
  box-shadow: 0px 0px 17px rgb(195, 0, 255);
  width: 280px;
  transition: 0.8s;
}

@media screen and (max-width: 1000px) {
  .flex-item-main {
    width: 200px;
    height: 150px;
    font-size: 17px;
  }
  .flex-item-main img{
    width: 70px;
  }
  .flex-item-main:hover {
    width: 210px;
  }
}
/* =================================== STATISTIK =========================================*/
.asn-rekap {
	margin-top: 20px;
	position: static;
	overflow: hidden;
	background-color: white;
	text-align: center;
  font-family: Bahnschrift;
}
.asn-rekap h2{
	font-size: 40px;
  line-height: 0.0;
}
.asn-rekap p {
	font-size: 25px;
	text-align: center;
	line-height: 0.0;
}
.chart-rekap {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
	gap: 40px 20px;
  margin: 50px 0px;
}
.myPlotMain {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-donat, .chart-bar{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.13);
}



