body {
	margin: 0;
}
.header {
  margin: 0;
}
/*================ INFO GRAFIS ==========================*/
.infoGrafis {
	background-color: white;
	padding-top: 30px;
}
.infoGrafis h2 {
	margin-top: 30px;
	text-align: center;
	font-family: Bahnschrift;
	font-size: 30px;
	color: #003858;
  background-color: #c1c2f3;
  width: 100%;
  padding: 10px;
}
.slideshow-container {  
	  margin: auto;
	  justify-content: center;
    max-width: 700px;
	  width: 90%;
}
.slides {
  display: none;
  /*box-shadow: 0px 0px 10px 0px black; */
}
.slides img {
  width: 100%;
  display: flex; 
}
/* Caption text */
.caption {
    color: #f2f2f2;
	  font-family: Roboto-Light;
    font-size: 18px;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
 }
    /* Dots */
    .dots {
      text-align: center;
      margin: 10px 0;
    }

    .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 3px;
      background: #bbb;
      border-radius: 50%;
      display: inline-block;

    }

    .active, .dot:hover {
      background: #717171;
    }

    /* Thumbnail images */
    .thumbnail-row {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
      padding-bottom: 50px;
      flex-wrap: wrap;
    }

    .thumbnail-row img {
      width: 80px;
      height: 50px;
      object-fit: cover;
      cursor: pointer;
      transition: 0.3s;
    }

    
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .thumbnail-row img {
      width: 70px;
      height: 35px;
      object-fit: cover;
      cursor: pointer;
      
      transition: 0.3s;
    }
}
/* ============================================ SAMBUTAN KABAN ==============================*/
.pidato-kaban {
	background-color: rgb(219, 219, 219);
	padding-bottom: 40px;
	overflow: hidden;
	text-align: center;
  position: relative;
  z-index: 1;
}
/*
.pidato-kaban::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/batik_korpri.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}*/

.pidato-kaban h2{
	font-family: FreeHand;
	font-size: 50px;
	color: #0077b6;
}
.pidato-kaban h2 p {
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: center;
	color: #0077b6;
	margin-top: 0px;
}
.pidato-kaban p {
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
  color: #0077b6;
	font-family: SegoeUI;
}
.pidato-kaban img {
	float: right;
	margin-right: 0;
	width: 300px;
}
.isiPidato {
  font-style: italic;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .pidato-kaban p {
	  font-size: 18px;
	  padding: 10px;
	}
  .pidato-kaban img{
	  width: 60%;
	}
}
/* =================================== STATISTIK =========================================*/
.asn-rekap {
	margin-top: 20px;
	position: static;
	overflow: hidden;
	background-color: white;
	text-align: center;
	
}
.asn-rekap h2{
	font-family: Bahnschrift;
	font-size: 30px;
	color: #0077b6;
}
.asn-rekap p {
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: center;
	color: #0077b6;
	margin-top: 0px;
}

.chart-rekap {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
	gap: 40px 20px;
}
#myPlot0 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-donat{
  
}



