

body {
	margin: 0;
}
* {
  box-sizing: border-box;
}

/* ============================================ Layanan BKD ==============================*/
.content{
  background-color: #ebebeb;
}
h1 {
	font-family: Bahnschrift;
	text-align: center;
	font-size: 30px;
	color: #0066ff;
  background-color: #dddddd;
  padding: 20px;
}

.layananBKD {
	overflow: hidden;
	text-align: center;
}
.KPG{

}
.PSDM{

}
.layananBKN {
	text-align: center;
  padding-bottom: 50px;
}

.ajukanButton {
  background-color: #0f69bd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: Bahnschrift;
  width: 130px;
}
.ajukanButton:hover {
  background-color: #0a4a86;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:center;
}
.flex-item-main {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center; /* center text inside */
  margin: 20px;
  padding: 0px 10px;
  background-color: #dddddd;
  color: #023e8a;
  font-size: 20px;
  border-radius: 12px;
  width: 280px;
  height: 250px;
  box-shadow: 0px 0px 10px grey;
}
.flex-item-main img{
  width: 120px;
}
.flex-item-main:hover {
  background-color:  rgb(240, 240, 240);
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  width: 290px;
  height: 260px;
  transition: 0.3s;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
.flex-container {
  display: flex;
  flex-direction: column;
  }
}
