body {
	margin: 0;
}
/* ============================================ CONTENT ==============================*/
.pengumuman {
	text-align: center;
	font-size: 30px;
	font-family: Segoe UI;
	color: #0077b6;
}
.breadcrumb {
   background-color: aliceblue;
   margin: 10px;
   text-align: center; 
   padding: 20px;
   width: 50%;
   
}
.pengumuman h1 {
   font-size: 30px;
   color: #023e8a;
}
.pengumuman p {
   font-size: 20px;
   text-align: justify;
   width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: Bahnschrift;
  
  color: #0e0e0e;

  overflow: hidden;
  justify-self: center;
  align-items: center;
  
}
.content h1{
  width: 100%;
  background-color: #ddd;
  padding: 10px;
}
.controls {
  width: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.card {
    background-color: #f8f8f8;
    color: #023e8a;
    padding: 20px 20px 30px 20px;
    margin: 30px;
    width: 70%;

    font-family: Raleway-Light;
    border-radius: 1px;
    box-shadow: 0px 0px 10px grey;
    text-align: center;
}
.card img {
  width: 100%;
  height: auto;
  border-radius:5px;
}
.card h2 {
  font-size: 30px;
}
.content .card {
    font-size: 20px;
  }
@media screen and (max-width: 800px) {
  .content .card h2 {
    font-size: 20px;
  }
  .content .card p {
    font-size: 15px;
  }
  .content .card {
    font-size: 15px;
  }
  .card img {
  width: 100%;
  height: auto;
}
}