body {
	margin: 0;
}

/* ============================================ CONTENT ==============================*/
.coomingSoon {
	text-align: center;
   font-family: 'Courier New', Courier, monospace;
	font-size: 50px;
	font-family: Segoe UI;
	color: #0077b6;
}
