
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin: auto;
}
h2 { text-align: center; }
.pdf-container {
  margin-top: 20px;
}
.pdf-item {
    position: relative;
    margin-bottom: 25px;
}
.download-btn{
    position: absolute;
    top: -10px;
    right: 20px;
    padding:10px 15px; 
    background-color:#007BFF; 
    color:white; 
    border-radius:6px; 
    text-decoration:none; 
    transition:0.3s;
}
iframe {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 50px;
}
.back-btn {
  display: inline-block;
  background: #07cc00;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 15px;
}
.back-btn:hover {
  background: #058b00;
}
.file-label {
  text-decoration: none;
}
.file-label span {
  text-transform: uppercase;
  text-decoration: none;
}
