@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("/file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("/file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("/file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("/file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("/file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("/file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("/file/Font/segoeui.ttf");
}
@font-face {
   font-family: Lobster;
   src: url("/file/Font/Lobster.otf");
}
body {
	margin: 0;
    font-family: Arial; 
    background:#f4f6f9; 
}
.header {
	position: fixed;
   top: 0;
	width:100%;
	height: 65px;
	background-color: #0077b6;
  z-index: 99;
}
.navbar
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align:center;
    cursor: pointer;
    padding:10px 15px; 
    color:white; 
    padding:10px 15px; 
    background:#21be02; 
    border:none; 
    border-radius:4px; 
}
.navbar:hover{
    background: #199400;
}
.roleHeader h1 {
    margin: auto;
    padding: 10px;
    color: #f4f6f9;
    text-align:center;
    font-size: 30px;
    font-family: Bahnschrift;
}

.container {
  max-width: 500px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 80px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
h2 {
  text-align: center;
  margin-top: 20px;
}
label{
   font-weight: bold;
   margin-top: 10px;
}
input {
  width: 93%;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
}
button {
  width: 50%;
  padding: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: #4cafef;
  color: #fff;
  margin: auto;
  display: block;
  margin-top: 10px;
}
button:hover {
  background: #2196f3; 
}
:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
}

.footer
{
	position: fixed;
	background-color: #0096c7;
	bottom: 0;
	width:100%;
	color: white;
	font-family: Raleway-Medium;
	text-align: center;
	font-size: 15x;
}
@media screen and (max-width:600px) {
	.footer {
		font-size: 12px;
	}
}