
@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("/file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("/file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("/file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("/file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("/file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("/file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("/file/Font/segoeui.ttf");
}

body {
    font-family: Arial, sans-serif; 
    margin:0; 
    background:#ffffff; 
}  
.article { 
    max-width:900px; 
    margin:auto; 
    background:rgb(255, 255, 255); 
    padding:20px; 

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.432);
}    
h1 { 
    color:#003366; 
}
.meta { 
    font-size:15px; 
    color:#0096c7; 
    margin-bottom:10px; 
}
.article img { 
    width: 100%;
    margin: auto;
    display: block;
    border-radius:8px; 
    margin-bottom:5px; 
    margin-top: 30px;
}
figure {
   font-size: 15px;
}
.article p { 
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.6;
    font-size:20px; 
    margin: 30px 0px;
    text-align: left;
} 

@media screen and (max-width: 600px) { 
    .article img { 
        width:80%; 
    } 
    .article p { 
        font-size:16px; 
    } 
}