
@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("/file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("/file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("/file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("/file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("/file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("/file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("/file/Font/segoeui.ttf");
}
body {
  margin: 0;
  background:#f4f6f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  display: flex;  
  justify-content: center; 
  align-items: center;  
  height: 100vh;
}
.header
{
	position: fixed;
	top: 0px;
	width:100%;
	height: 65px;
	background-color: #0077b6;
}

.navbar
{
    float: left;
    margin-left: 10px;
    margin-top:10px;
    text-align:center;
    cursor: pointer;
    padding:10px 15px; 
    color:white; 
    padding:10px 15px; 
    background:#21be02; 
    border:none; 
    border-radius:4px; 
}
.navbar:hover{
    background: #199400;
}

.roleHeader h1 {
    margin: auto;
    padding: 10px;
    color: #f4f6f9;
    text-align:center;
    font-size: 30px;
    font-family: Bahnschrift;
}

@media screen and (max-width: 600px) {
  .roleHeader h1 {
    padding: 20px;
    font-size: 20px;
  }
}
.container {
  margin: auto;
  display: block;
  text-align: center;
  background: white;
  padding: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 400px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2b3d52;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  align-self: flex-start;
  font-weight: bold;
  display: block;
  color: #333;
  margin-top: 30px;
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
}
button {
  margin: 30px;
  width: 70%;
  background: #0078d7;
  color: white;
  border: none;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;   
}
button:hover {
  background: #005fa3;
}
.error {
  background: #ffecec;
  color: #c00;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
.footer
{
	position: fixed;
	background-color: #0096c7;
	bottom: 0;
	width:100%;
	color: white;
	font-family: Raleway-Medium;
	text-align: center;
	font-size: 15x;
}
@media screen and (max-width:600px) {
	.footer {
		font-size: 12px;
	}
}
