@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

/* ============================================ CONTENT ==============================*/
.content {
   text-align: center;
   font-family: Bahnschrift;
   color: #333333;
   background-color: #ebebeb;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
h2 {
   font-size: 30px;
   color: #0077b6;
   background-color: #ffffff;
   padding: 10px;
}
.flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items:center;
   margin: 50px 0px;
}
.flex-item-main {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center; /* center text inside */
  margin: 20px;
  padding: 0px 10px;
  background-color: #dddddd;
  color: #023e8a;
  font-size: 20px;
  border-radius: 12px;
  width: 300px;
  height: 250px;
  box-shadow: 0px 0px 10px grey;
}
.flex-item-main img{
  width: 120px;
}
.flex-item-main:hover {
  background-color:  rgb(240, 240, 240);
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  width: 310px;
  transition: 0.3s;
}