@charset "utf-8";
/* CSS Document */

@font-face { font-family: Trebuchet-Old; src: url("Files/Font/Trebuchet.ttf"); }
@font-face { font-family: Bahnschrift; src: url("Files/Font/Bahnschrift.ttf"); }
@font-face { font-family: BebasNeue; src: url("Files/Font/BebasNeue.otf"); }
@font-face { font-family: Raleway-Light; src: url("Files/Font/Raleway-Light.ttf"); }
@font-face { font-family: Raleway-Medium; src: url("Files/Font/Raleway-Medium.ttf"); }
@font-face { font-family: FreeHand; src: url("Files/Font/FreeHand.ttf"); }
@font-face { font-family: SegoeUI; src: url("Files/Font/segoeui.ttf"); }
@font-face { font-family: Roboto-Bold; src: url("Files/Font/Roboto-Bold.ttf"); }
@font-face { font-family: Roboto-Light; src: url("Files/Font/Roboto-Light.ttf"); }
@font-face { font-family: Roboto-Medium; src: url("Files/Font/Roboto-Medium.ttf"); }
@font-face { font-family: Roboto-Regular; src: url("Files/Font/Roboto-Regular.ttf"); }
@font-face { font-family: Lobster; src: url("Files/Font/Lobster.otf"); }
@font-face { font-family: Aptos-Bold; src: url("Files/Font/Aptos-Bold.ttf"); }
@font-face { font-family: Aptos-Display; src: url("Files/Font/Aptos-Display.ttf"); }
@font-face { font-family: Aptos-Display-Bold; src: url("Files/Font/Aptos-Display-Bold.ttf"); }
@font-face { font-family: Aptos-Mono-Bold; src: url("Files/Font/Aptos-Mono-Bold.ttf"); }