@charset "utf-8";
/* --- Global --- */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto-Light;
}

.content {
  margin-top: 250px;
}
@media screen and (max-width:800px) {
  .content {
    margin-top: 150px;
  }
}
.slideShow {

}
.slideShow img {
  width:100%;
  height:auto;
}

.preview{
  padding: 10px 10px 50px 10px;
  font-family: Roboto-Regular;
  line-height: 2.0;
  text-align: justify;
  font-size: 20px;
}
.preview h1 {
  text-align: left;
  color: #023e8a;
}
.shortCut {
  background-color: rgb(10, 10, 10);
  padding: 150px 0px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:center;
}
.flex-item-main {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center; /* center text inside */
  margin: 20px;
  padding: 0px 10px;
  background-color: #dddddd;
  color: #023e8a;
  font-size: 20px;
  border-radius: 15px;
  width: 200px;
  height: 150px;
  box-shadow: 0px 0px 10px grey;
}
.flex-item-main img{
  width: 70px;
}
.flex-item-main:hover {
  background-color:  rgb(240, 240, 240);
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  width: 210px;
  transition: 0.5s;
}

.statistik{

}
.sambutan{
  color: #ffffff;
  font-family: Roboto-Regular;
  line-height: 1.5;
  font-size: 20px;
}
@media (max-width:720px){
  #sambutan-ketua{padding:16px;margin:18px}
  #sambutan-ketua h2{font-size:18px}
}