@charset "utf-8";
/* CSS Document */
@font-face { font-family: Trebuchet-Old; src: url("/file//Font/Trebuchet.ttf"); }
@font-face { font-family: Bahnschrift; src: url("/file//Font/Bahnschrift.ttf"); }
@font-face { font-family: BebasNeue; src: url("/file//Font/BebasNeue.otf"); }
@font-face { font-family: Raleway-Light; src: url("/file//Font/Raleway-Light.ttf"); }
@font-face { font-family: Raleway-Medium; src: url("/file//Font/Raleway-Medium.ttf"); }
@font-face { font-family: FreeHand; src: url("/file//Font/FreeHand.ttf"); }
@font-face { font-family: SegoeUI; src: url("/file//Font/segoeui.ttf"); }
@font-face { font-family: Roboto-Bold; src: url("/file//Font/Roboto-Bold.ttf"); }
@font-face { font-family: Roboto-Light; src: url("/file//Font/Roboto-Light.ttf"); }
@font-face { font-family: Roboto-Medium; src: url("/file//Font/Roboto-Medium.ttf"); }
@font-face { font-family: Roboto-Regular; src: url("/file//Font/Roboto-Regular.ttf"); }
@font-face { font-family: Lobster; src: url("/file//Font/Lobster.otf");}
@font-face { font-family: Lobster; src: url("/file/Font/Lobster.otf"); }
@font-face { font-family: Aptos-Bold; src: url("/file/Font/Aptos-Bold.ttf"); }
@font-face { font-family: Aptos-Display; src: url("/file/Font/Aptos-Display.ttf"); }

body {
	margin: 0;
    font-family: Arial;
    background:#f4f6f9;
    padding:30px;
}
.header
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width:100%;
	height: 65px;
	background-color: #0077b6;
}
.logo
{
	position:fixed;
	padding: 10px;
}
.form-box {
    margin: auto;
    display: block;
    margin-top: 75px;
    max-width:500px; 
    background:#fff; 
    padding:20px; 
    background: transparent;
	border: 1px solid white;
    box-shadow:0 5px 15px rgba(0,0,0,0.1); 
}
.form-box h2 {
    text-align: center;
}
input, button { 
    width:90%; 
    padding:12px; 
    margin:8px 0; 
    border:1px solid #ccc; 
}

button { 
    margin: auto;
    display: block;
    width:50%;
    background:#3498db; 
    border:none; 
    color:white; 
    font-weight:bold; 
    cursor:pointer; }

button:hover { 
    background:#2980b9; 
}
