@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("/file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("/file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("/file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("/file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("/file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("/file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("/file/Font/segoeui.ttf");
}
body {
	margin: 0;
  font-family: Arial;
  background:#f4f6f9; 
}

.header
{
  font-family: Bahnschrift;
	position: fixed;
	top: 0px;
	width:100%;
	height: 65px;
	background-color: #0077b6;
}
.navbar
{
    float: left;
    margin: 10px 10px;
    text-align:center;
    cursor: pointer;
    padding:10px 15px; 
    color:white; 
    background:#21be02; 
    border:none; 
    border-radius:4px;
    width: 100px;
    
}
.navbar:hover{
    background: #199400;
}

.roleHeader h1 {
    margin: auto;
    padding: 10px;
    color: #f4f6f9;
    text-align:center;
    font-size: 30px;
    font-family: Bahnschrift;
}

@media screen and (max-width: 600px){
    .roleHeader h1{
        font-size: 20px;
        margin-top: 10px;
    }
}
.form-box {
    width: 70%; 
    margin: auto; 
    margin-top: 80px;
    border: 1px solid #ccc; 
    padding: 40px; 
    border-radius: 10px; 
}

input, button, select { 
  width:100%; 
  padding:12px; 
  margin: 8px 0; 
  border:1px solid #ccc; 
}
button { 
  background:#3498db; 
  border:none; 
  color:white; 
  font-weight:bold; 
  cursor:pointer; 
  padding: 10px;
}
button:hover { 
  background:#2980b9; 
}
