@charset "utf-8";
/* CSS Document */

/* --- Global --- */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto-Medium;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #0077b6;
  z-index: 999;
}
.navbar {
  float: left;
  margin: 10px;
  padding: 10px 15px;
  color: white;
  background: #21be02;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  font-family: Bahnschrift;
}
.navbar:hover { background: #199400; }
.roleHeader h1 {
  margin: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: Bahnschrift;
}

.detail-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    font-family: Raleway-Bold;
}
.detail-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #00000015;
    font-family: Raleway-Medium;
}
.detail-card h1 {
    margin-top: 20px;
    font-family: Raleway-Medium;
    text-align: center;
}
.detail-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
small {
    margin: auto;
    display: block;
    text-align: center;
    color: #777;
    font-size: 14px;
    font-family: Roboto-Medium;
}
.description {
    font-family: Raleway-Medium;
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}
.attachment-box {
    margin-top: 30px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

.download-btn {
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    background: #3ab600;
    color: white;
    text-decoration: none;
    font-family: Raleway-Medium;
}
.download-btn:hover { background: #2e8a04; }

